*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-lighten: #222;
    --dark: #1a1a1a;
    --white: #fff;
    --red: #b12823;
    --orange: #ff4112;
    --gray: #2a2a2a;
    --gray-text: #8c8c8c;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark);
}