
.navbar
{
    height: 60px;
    background-color: transparent;
    border: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.navbar-background-visible
{
    background-color: var(--dark-lighten);
    border-bottom: 2px solid var(--gray);
}

.navbar a
{
    text-decoration: none;
    height: 100%;
    line-height: 60px;
}
.navnar__logo span
{
    font-size: 2rem;
    color: #fff;
}
/* flim-intro */

/* container */
.container
{
    height: 1000px;
    background-color: var(--dark-lighten);
}
/* Footer */
.footer
{
    height: 60px;
    color: #fff;
    background-color: var(--dark-lighten);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    /* position: relative; */
    /* bottom: 0; */
    width: 100vw;
    line-height: 60px;
}

.footer__contact
{
    display: flex;
    gap: 15px;
    align-items: center;
}